.btn-enrol{
	background: #c00;
	font-size: 18px !important;
	color: white;
}

.btn-enrol:hover{
	background: #c00;
	font-size: 18px !important;
	color: white !important;
}

.metaicon{
	margin-right: 0.5rem;
}

.preview-video{
	margin-bottom: 10px;
}

table.table.table-condensed {
    border: 1px solid #f5f5f5;
}

#enrolblock{
	text-align: center;
}

@media (max-width: 767px) { 
  	#enrolblock{
  		margin-bottom: 10px;
  	}
}

.catalog-title{
	margin-top: 0px;
	margin-bottom: 0px;
}

#local_catalog_pages{
	margin-top: 10px;
}