{{{header}}}
{{{heading}}}

	{{#has_courses}}
		<table class="table table-striped">
			<tr>
				<th></th>
				<th>{{#str}}name{{/str}}</th>
			</tr>
			{{#courselist}}
				<tr>
					<td>
						<a href="{{{url}}}?action=editcourse&id={{id}}">{{{editicon}}}</a>
							&nbsp;<a href="{{{url}}}?action=deletecourse&id={{id}}&sesskey={{{sesskey}}}" onClick="return confirm('Are you sure you want to delete this course?');">{{{deleteicon}}}</a>
					</td>
					<td>{{name}}</td>
				</tr>
			{{/courselist}}
		</table>

	{{/has_courses}}

	{{{addform}}}

{{{footer}}}