{{{header}}}

<div class="row">
	{{#enrol_open}}
		<div class="col-xs-12 col-md-8">
			<h1 class="catalog-title">{{coursetitle}}{{#subtitle}}:{{/subtitle}}</h1>
			{{#subtitle}}<h2 class="catalog-subtitle">{{.}}</h2>{{/subtitle}}
		</div>
		<div class="col-xs-12 col-md-4" id="enrolblock">
			<a class="btn btn-block btn-large btn-enrol" href="{{{enrol_url}}}">Enroll now!</a><br/>
			<!-- Twitter -->
			<a href="http://twitter.com/home?status={{#str}}twittershare, local_catalog, {{coursetitle}}{{/str}} {{wwwroot}}/local/catalog/course.php?id={{catalogid}}&utm_source=twitter&utm_medium=catalog&utm_campaign=catalog" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-fw fa-twitter"></i></a>
			 <!-- Facebook -->
			<a href="https://www.facebook.com/sharer/sharer.php?u={{wwwroot}}/local/catalog/course.php?id={{catalogid}}&utm_source=facebook&utm_medium=catalog&utm_campaign=catalog" title="Share on Facebook" target="_blank" class="btn btn-facebook"><span class="fa fa-fw fa-facebook"></span></a>
			<!-- Google+ -->
			<a href="https://plus.google.com/share?url={{wwwroot}}/local/catalog/course.php?id={{catalogid}}&utm_source=googleplus&utm_medium=catalog&utm_campaign=catalog" title="Share on Google+" target="_blank" class="btn btn-google"><span class="fa fa-fw fa-google-plus"></span></a>
			<!-- LinkedIn --> 
			<a href="http://www.linkedin.com/shareArticle?mini=true&url={{wwwroot}}/local/catalog/course.php?id={{catalogid}}&amp;utm_source=linkedin&amp;utm_medium=catalog&amp;utm_campaign=catalog&title={{#str}}linkedinshare,local_catalog,{{coursetitle}}{{/str}}" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><span class="fa fa-fw fa-linkedin"></span></a>


		</div>
	{{/enrol_open}}
	{{^enrol_open}}
		<div class="col-xs-12 col-md-12">
			{{{heading}}}
		</div>
	{{/enrol_open}}
</div>

<div class="row">
	<div class="col-xs-12 col-md-8">
		<div class="row">
			<div class="col-xs-12">
				<div class="embed-responsive embed-responsive-16by9 centered preview-video">
				  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{preview_video_id}}?modestbranding=1&autohide=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
					{{{description}}}
			</div>
		</div>
		{{#hasobjectives}}
			<div class="row">
				<div class="col-xs-12">
						<h3>{{#str}}objectives, local_catalog{{/str}}</h3>
						{{{objectives}}}
				</div>
			</div>
		{{/hasobjectives}}
		{{#haspages}}
			<div class="row">
				<div class="col-xs-12">
						<h3>{{#str}}learnmore, local_catalog{{/str}}</h3>
					  <ul class="nav nav-pills" role="tablist">
					  	{{#pages}}
					    <li role="presentation"><a href="#page-{{id}}" aria-controls="page-{{id}}" role="tab" data-toggle="tab"><i class="fa fa-fw fa-{{fa_icon}}"></i>{{name}}</a></li>
					    {{/pages}}
  						</ul>
  						<div class="tab-content" id="local_catalog_pages">
  							{{#pages}}
  								<div role="tabpanel" class="tab-pane" id="page-{{id}}">
  									{{{content}}}
  								</div>
  							{{/pages}}
  						</div>
				</div>
			</div>
		{{/haspages}}
	</div>
	<div class="col-xs-12 col-md-4">
		{{#has_metadata}}
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-condensed table-striped table-responsive">
						{{#metadata}}
							<tr>
								<td class="col-xs-6">
									<i class="metaicon fa fa-fw fa-{{fa_icon}}"></i><strong>{{name}}
								</td>
								<td class="col-xs-6">
									{{#islist}}
										{{#value}}
											{{#hasurl}}
												<a href="{{{url}}}">{{.}}</a><br/>
											{{/hasurl}}
											{{^hasurl}}
												{{.}}<br/>
											{{/hasurl}}
										{{/value}}
									{{/islist}}
									{{^islist}}
										{{#hasurl}}
												<a href="{{{url}}}">{{value}}</a><br/>
											{{/hasurl}}
											{{^hasurl}}
												{{value}}<br/>
											{{/hasurl}}
									{{/islist}}
								</td>
							</tr>
						{{/metadata}}
					</table>
				</div>
			</div>
		{{/has_metadata}}
		{{#hasmcs}}
			<h3>{{#str}}availablemicrocredentials, local_catalog{{/str}} <small>(<a href="{{wwwroot}}/course/view.php?id={{mccourse}}">{{#str}}learnmore, local_catalog{{/str}}</a>)</small></h3>
			<table class="table table-condensed table-striped table-responsive">
				{{#mcs}}
					<tr>
						<td>
							<a href="{{wwwroot}}/course/view.php?id={{mccourse}}&section={{sequence}}">{{name}}</a>
						</td>
					</tr>
				{{/mcs}}
			</table>
		{{/hasmcs}}
		{{#haseditions}}
			<h3>{{editionlabel}}</h3>
			<table class="table table-condensed table-striped table-responsive">
				{{#editions}}
					<tr><td><a href="{{wwwroot}}/course/view.php?id={{course_id}}">{{label}}</a></td></tr>
				{{/editions}}
			</table>
		{{/haseditions}}
	</div>
</div>

{{{footer}}}