<div class="text-center">
	<img src="{{thumbnail}}"style="height: 100px; width: auto;"/>
<h3><a href="{{{wwwroot}}}/local/catalog/course.php?id={{id}}&ref={{section_id}}" target="_blank">{{name}}</a></h3>
</div>