{{{header}}}
{{{heading}}}
	<a href="course.php?id={{catalog_id}}">{{#str}}preview{{/str}}</a>

	{{{editform}}}

	<h3>{{#str}}course_metadata, local_catalog{{/str}}</h3>
	{{#hasmeta}}
		<table class="table table-striped">
			<tr>
				<th></th>
				<th>{{#str}}entry, local_catalog{{/str}}</th>
				<th>{{#str}}value, local_catalog{{/str}}</th>
				<th>{{#str}}url{{/str}}</th>
			</tr>
			{{#metadata}}
				<tr>
					<td>

						<a href="{{{returnurl}}}?action=metadel&metaid={{id}}&catalog_id={{catalog_id}}&sesskey={{{sesskey}}}">{{{deleteicon}}}</a>
						{{^first}}<a href="{{{returnurl}}}?action=metaup&metaid={{id}}&catalog_id={{catalog_id}}&sesskey={{{sesskey}}}">{{{upicon}}}</a>{{/first}}
						{{^last}}<a href="{{{returnurl}}}?action=metadown&metaid={{id}}&catalog_id={{catalog_id}}&sesskey={{{sesskey}}}">{{{downicon}}}</a>{{/last}}
					
					</td>
					<td><i class="fa fa-{{fa_icon}}"></i>&nbsp;{{name}}</td>
					<td>
						{{#islist}}
							{{#value}}
								{{.}}<br/>
							{{/value}}
						{{/islist}}
						{{^islist}}
							{{value}}
						{{/islist}}
					</td>
					<td><a href="{{url}}" target="_blank">{{url}}</a></td>
				</tr>
			{{/metadata}}
		</table>
	{{/hasmeta}}
	{{{metaform}}}

	<h3>{{#str}}coursemicrocredentials, local_catalog{{/str}}</h3>
	{{#hasmcs}}
		<table class="table table-striped">
			{{#course_mcs}}
				<tr>
					<td>

						<a href="{{{returnurl}}}?action=mcdel&mcid={{id}}&catalog_id={{catalog_id}}&sesskey={{{sesskey}}}">{{{deleteicon}}}</a>
					
					</td>
					<td>{{name}}</td>
				</tr>
			{{/course_mcs}}
		</table>
	{{/hasmcs}}
	{{{mcform}}}

	<h3>{{#str}}courseeditions, local_catalog{{/str}}</h3>
	{{#haseditions}}
		<table class="table table-striped">
			<tr>
				<th></th>
				<th>{{#str}}course{{/str}}</th>
				<th>{{#str}}label, local_catalog{{/str}}</th>
			</tr>
			{{#editions}}
				<tr>
					<td>

						<a href="{{{returnurl}}}?action=editiondel&editionid={{id}}&catalog_id={{catalog_id}}&sesskey={{{sesskey}}}">{{{deleteicon}}}</a>
						{{^first}}<a href="{{{returnurl}}}?action=editionup&editionid={{id}}&catalog_id={{catalog_id}}&sesskey={{{sesskey}}}">{{{upicon}}}</a>{{/first}}
						{{^last}}<a href="{{{returnurl}}}?action=editiondown&editionid={{id}}&catalog_id={{catalog_id}}&sesskey={{{sesskey}}}">{{{downicon}}}</a>{{/last}}
					
					</td>
					<td>{{coursename}}</td>
					<td>{{label}}</td>
				</tr>
			{{/editions}}
		</table>
	{{/haseditions}}
	{{{editionform}}}
{{{footer}}}